body {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 25%; 25%; 25%; 25%;
grid-template-areas:
"... header ..."
"... main1 ..."
"... main2 ..."
"... main3 ..."







top {
display: flex;

    }
display: flex;




}


}
